services:
  app:
    build: .
    container_name: fabrica-api
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=${DATABASE_URL}
    command: npm run dev